filebeat.prospectors:

- input_type: log
  paths:
  {% for path in server_app_logs %}
  - {{ path | regex_replace('HOSTNAME', ansible_hostname) }}
  {% endfor %}
  
  encoding: UTF-8
  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: log
    grid.group: "{{ grid_group_name }}"
    grid.client: "false"

  fields_under_root: true

  multiline.pattern: "\\d{2}:\\d{2}:\\d{2}([.,]\\d{3})?(\\[|\\s+\\[?)(ERR|WARN|INFO|DEBUG|TRACE)|^\\s{4,}vmop"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  {% for path in client_app_logs %}
  - {{ path | regex_replace('HOSTNAME', ansible_hostname) }}
  {% endfor %}
  
  encoding: UTF-8
  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: log
    grid.group: "{{ grid_group_name }}"
    grid.client: "true"

  fields_under_root: true

  multiline.pattern: "\\d{2}:\\d{2}:\\d{2}([.,]\\d{3})?(\\[|\\s+\\[?)(ERR|WARN|INFO|DEBUG|TRACE)|^\\s{4,}vmop"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  {% for path in server_err_logs %}
  - {{ path | regex_replace('HOSTNAME', ansible_hostname) }}
  {% endfor %}
  
  encoding: UTF-8
  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: log
    grid.group: "{{ grid_group_name }}"
    grid.client: "false"

  fields_under_root: true

  multiline.pattern: "^\\s|^Caused by: "
  multiline.negate: false
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m


- input_type: log
  paths:
  {% for path in client_err_logs %}
  - {{ path | regex_replace('HOSTNAME', ansible_hostname) }}
  {% endfor %}
  
  encoding: UTF-8
  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: log
    grid.group: "{{ grid_group_name }}"
    grid.client: "true"

  fields_under_root: true

  multiline.pattern: "^\\s|^Caused by: "
  multiline.negate: false
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  - {{ local_dstat_logs }}/{{ dstat_log_file }}

  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: dstat
    grid.group: "{{ grid_group_name }}"

  fields_under_root: true

- input_type: log
  paths:
  {% for path in server_gc_logs %}
  - {{ path | regex_replace('HOSTNAME', ansible_hostname) }}
  {% endfor %}

  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: gc
    grid.group: "{{ grid_group_name }}"
    grid.client: "false"

  fields_under_root: true

  multiline.pattern: "^\\d"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  {% for path in client_gc_logs %}
  - {{ path | regex_replace('HOSTNAME', ansible_hostname) }}
  {% endfor %}

  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: gc
    grid.group: "{{ grid_group_name }}"
    grid.client: "true"

  fields_under_root: true

  multiline.pattern: "^\\d"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  {% for path in server_thread_dumps %}
  - {{ path | regex_replace('HOSTNAME', ansible_hostname) }}
  {% endfor %}

  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: td
    grid.group: "{{ grid_group_name }}"
    grid.client: "false"

  fields_under_root: true

  multiline.pattern: "^\\s*$"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  {% for path in client_thread_dumps %}
  - {{ path | regex_replace('HOSTNAME', ansible_hostname) }}
  {% endfor %}

  harvester_limit: {{ concurrent_logs_limit }}

  fields:
    message_kind: td
    grid.group: "{{ grid_group_name }}"
    grid.client: "true"

  fields_under_root: true

  multiline.pattern: "^\\s*$"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

output.logstash:
  hosts: ["{{ hostvars[groups['elk'][0]]['inventory_hostname'] }}:{{ hostvars[groups['elk'][0]]['logstash_port'] }}"]
