filebeat.prospectors:

- input_type: log
  paths:
  - {{ local_app_logs }}

  fields:
    message_kind: log
    grid.host: {{ ansible_hostname }}
    grid.group: "{{ grid_group_name }}"

  fields_under_root: true

  multiline.pattern: "\\d{2}:\\d{2}:\\d{2}([.,]\\d{3})?\\s+\\[?(ERR|WARN|INFO|DEBUG|TRACE)|^\\s{4,}vmop"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  - {{ local_err_logs }}

  fields:
    message_kind: log
    grid.host: {{ ansible_hostname }}
    grid.group: "{{ grid_group_name }}"

  fields_under_root: true

  multiline.pattern: "^\\s|^Caused by: "
  multiline.negate: false
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  - {{ local_dstat_logs }}/{{ dstat_log_file }}

  fields:
    message_kind: dstat
    grid.host: {{ ansible_hostname }}
    grid.group: "{{ grid_group_name }}"

  fields_under_root: true

- input_type: log
  paths:
  - {{ local_gc_logs }}

  fields:
    message_kind: gc
    grid.host: {{ ansible_hostname }}
    grid.group: "{{ grid_group_name }}"

  fields_under_root: true

  multiline.pattern: "^\\d"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

- input_type: log
  paths:
  - {{ local_thread_dumps }}

  fields:
    message_kind: td
    grid.host: {{ ansible_hostname }}
    grid.group: "{{ grid_group_name }}"

  fields_under_root: true

  multiline.pattern: "^\\s*$"
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 1000000
  multiline.timeout: 5m

output.logstash:
  hosts: ["{{ hostvars[groups['elk'][0]]['inventory_hostname'] }}:{{ hostvars[groups['elk'][0]]['logstash_port'] }}"]
