node.name: {{ ansible_hostname }}
path.config: /etc/logstash/conf.d
path.logs: /var/log/logstash
pipeline.workers: 1000
pipeline.batch.size: 10
pipeline.batch.delay: 10
pipeline.unsafe_shutdown: true
